*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    
{
    background-color: #FFF0F5;
}

main 
{
   
    width: 99%;
    margin: 5px auto;
    display: grid;
    grid-template-rows: 0.4fr 0.2fr 0.4fr 8.8fr 0.2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    grid-gap:5px;
    padding-top:0px;

}


.top
{
    background-color: #F5FFFA;
    grid-column: 1/-1;
    
}


.marquee
{
    background-color: #ff4444;
    grid-column: 1/-1;
    border: 0px;
    color: white;
    font-weight: bolder;

}

.header
{
    background-color: #F5FFFA;
    grid-column: 1/-1;
 
}



.center
{
    background-color: #F5FFFA;
    grid-column: 1/-1;
    padding: 4px;
    border: 1px solid lightgrey;
    
}

.footer
{
    background-color: #ff4444;
    grid-column: 1/-1;
    font-family: sans-serif,Tahoma;
    
}




/* style for top header section */

ul 
    {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ff4444;
        width: 400px;
    }
  
  li 
    {
        
        border-bottom: 3px solid white;
        height: 40px;
        text-align: center;
        
    }
  
  li a 
    {
        display: block;
        color: white;
        font-weight: bolder;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
    }
  
  li a:hover 
    {
        background-color: darkred;
        font-weight: bolder;
        border: 1px solid lightgrey;
    
    }
  




/* header decoration */

h3     
    {
        text-align: left;
        color: white;
        margin-bottom: 10px;
        font-size: 12px;
        letter-spacing: 2px;
    }


/* logo decoration */

.index-form,
.index-form *
    {
        box-sizing: border-box;
        font-family: sans-serif,Tahoma;

    }

.index-form
    {
        max-width: 450px;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0,0,0,0.25);
        padding: 0 px;
        background: white;
    }

.index-form-logo-container
    {
        padding: 30px;
        background: rgba(255, 0, 0, 0.60);
    }

.index-form-logo
    {
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }

.index-form-content
    {
        padding: 30px;
        background: white;
        display: inline-block;
        
    }
